
<div class="dashbrd_page">
 <header>
 <h2><a href="/users/dashboard"><i class="fa fa-angle-left" aria-hidden="true"></i></a>Approved List</h2>
   <!--<nav class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
          <li class="name">
            <a href="#"> <img class="logo01" src="image/login-page-logo.png" alt="logo"></a> 
          </li>
          
        </ul>
       </nav>-->
 </header>
 
<div class="pending_listing">
 <div class="table-responsive">
<table class="listing-table">
  <tbody>
    <% for(var leave in approvedleaves) { %>
     <tr onclick=redirecttoview("<%= approvedleaves[leave]._id %>")>
       <td>
        <ul class="pending-list">
          <li>
            <p>
              <b>
                <%= moment(approvedleaves[leave].leavefromdate).format('DD MMM, YYYY') %> <b>to</b> <%= moment(approvedleaves[leave].leavetodate).format('DD MMM, YYYY') %>
                </b>
            </p>
            <span>
              <%= approvedleaves[leave].leavetype %>
              </span>
            <span>
              <%= approvedleaves[leave].duration %>
              </span>
            <span>
              <b>
                Approved by: <%= approvedleaves[leave].approvername %>
                </b>
            </span>
            <span>
              Applied on: <%= moment( approvedleaves[leave].Requestdate).format('DD MMM, YYYY') %>
              </span>
          </li>
        </ul>
      </td>    
    </tr>
    <% } %>
</tbody></table>
</div> 
</div> 
    
</div>
<!--dashbrd_page-->
<script type="text/javascript">
  function redirecttoview(getvalue)
  {
  window.location.href='/users/pendingleave/'+getvalue;
  }
</script>


